
#p1{
     background-color:aqua;
     font-size:40px;
    }
   
div{
    background-color: blueviolet;
    font-size: 30px;
    color:white;
    }
#p2 {
    background-color:brown;
    }
    .center-alignment{
        text-align:center;
    }

div {
    margin: 50px 30 0 30;
    border: 2px solid #37AA53;
    padding: 20px 10px 20px 10px;
}
p{
    background-color:lightblue;
    font-size:27px;
    margin-left:24px;
    padding-left:11px;
}
nav {
    background-color: #41E5D1;
    height:48px;
}
#menu{
    list-style-type:none;
    display:inline-flex;
    float:right;
}
#menu li{
    margin-right:30px;
}
#menu li a{
    text-decoration:none;
}

#banner {
    margin-top: 3px;
    background-image: url('izabelly-marques-AM8PSU6HoVw-unsplash.jpg');
    height: 700px;
    width: 100%;
    background-position: bottom;
}